.container{
    display: flex;
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
}
.form-label{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}